#chapter-buttons {
  display: flex;

  flex-direction: column;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}

.chapter {
  width: fit-content;
  margin-block: 10px;
  padding-inline: 5px;
  border-radius: 10px;
  outline: none;
  text-align: center;
  margin-right: 20px;
}
